<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../assets/lab3/css/reset.css">
    <link rel="stylesheet" href="../../assets/lab3/css/about.css">
    <title>Brabus UKR</title>
</head>
<body>
<p><a href="#" name="top"></a></p>
<div class="header">
    <div class="logo">
        <a href="../../index.html"><img alt="Brabus logo" src="../../assets/lab3/img/brabus.png"></a>
    </div>
    <div class="title">
        <h1>Выбор и продажа автомобилей в Украине</h1>
    </div>
    <div class="counters">
        <div>
            <!--LiveInternet counter--><script type="text/javascript">
            document.write("<a href='//www.liveinternet.ru/click' "+
                "target=_blank><img src='//counter.yadro.ru/hit?t11.6;r"+
                escape(document.referrer)+((typeof(screen)=="undefined")?"":
                ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
                    screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
                ";"+Math.random()+
                "' alt='' title='LiveInternet: показано число просмотров за 24"+
                " часа, посетителей за 24 часа и за сегодня' "+
                "border='0' width='88' height='31'><\/a>") </script><!--/LiveInternet-->
        </div>
        <div>
            <!-- HotLog -->
            <span id="hotlog_counter"></span>
            <span id="hotlog_dyn"></span>
            <script type="text/javascript"> var hot_s = document.createElement('script');
            hot_s.type = 'text/javascript'; hot_s.async = true;
            hot_s.src = 'http://js.hotlog.ru/dcounter/2537974.js';
            hot_d = document.getElementById('hotlog_dyn');
            hot_d.appendChild(hot_s);
            </script>
            <noscript>
                <a href="http://click.hotlog.ru/?2537974" target="_blank">
                    <img src="http://hit19.hotlog.ru/cgi-bin/hotlog/count?s=2537974&im=357" border="0"
                         title="HotLog" alt="HotLog"></a>
            </noscript>
            <!-- /HotLog -->
        </div>
    </div>
</div>
<div class="menu">
    <div class="selected-menu">
        <a href="">О компании Brabus</a>
    </div><div class="menu-button">
    <a href="">Конфигуратор автомобилей</a>
</div><div class="menu-button"><a href="">Автообзоры</a>
</div><div class="menu-button"><a href="">Резюме администратора</a>
</div>
</div>
<div class="main-block">
    <div class="text1">
        <p class="brabus-title">Brabus
            <abbr title="Gesellschaft mit beschränkter Haftung (общество с ограниченной ответственностью)">
                GmbH
            </abbr>
        </p>
        <p>
            Brabus — компания, расположенная в Германии, специализирующееся<br>
            в основном на моторном и кузовном тюнинге, в первую очередь автомобилей<br>
            марки Mercedes-Benz, а также других, выпускаемых концерном Daimler,<br>
            автомобилей марки Smart и Maybach. Ателье фокусирует внимание на том,<br>
            чтобы автомобиль достигал максимальных рабочих характеристик путём увеличения <br>
            мощности и крутящего момента.
        </p>
    </div>
    <div class="img1">
        <img alt="Главный офис" src="../../assets/lab3/img/9tro_110713_060903_werk-3-luft.jpg">
    </div>
</div>
<div class="main-block">
    <div class="img2">
        <img alt="" src="../../assets/lab3/img/brabus-11-728x485.jpg">
    </div>
    <div class="text2">
        <p>
            Ателье ориентировано на дорогой и эксклюзивный тюнинг. Среди простых <br>
            программ тюнинга предлагается установка низкопрофильных покрышек, спойлеров,<br>
            аэродинамических обвесов, кованых дисков собственного дизайна. Более сложные<br>
            модернизации включают модификации технической начинки автомобилей, в частности,<br>
            при переработке двигателя растачивается блок двигателя, дорабатывается головка <br>
            блока, дорабатываются или ставятся новые поршни, коленвал, клапаны и другие <br>
            детали, все двигатели собираются вручную и в конце ставится фирменная табличка с <br>
            личной подписью моториста. Также осуществляется доработка интерьера автомобиля на <br>
            заказ, установка аксессуаров.
        </p>
    </div>
</div>
<div class="main-block">
    <div class="text3">
        <p>
            Как частное тюнинг-ателье основано в 1977 году Клаусом Бракманом и <br>
            Бодо Бушманомв Ботропе, название происходит от сложения начальных <br>
            букв фамилий её создателей. Является крупнейшим в мире независимым <br>
            тюнинговым ателье. В 1999 году стало подразделением DaimlerChrysler.
        </p>
    </div>
    <div class="img3">
        <img alt="" src="../../assets/lab3/img/mercedes-amg-c63-s-2015--2-.jpg">
    </div>
</div>


<div class="ad">
    <p class="ad-title">На правах рекламы:</p>
    <ul>
        <li>
            <a href="https://www.youtube.com/channel/UC0lT9K8Wfuc1KPqm6YjRf1A" target="_blank">
                <img alt="" src="../../assets/lab3/img/ad/iytf7gRVLdk.jpg">
            </a>
        </li>
        <li id="ad-cell2">
            <img alt="" src="../../assets/lab3/img/ad/instagram-xxl.png">
            <p class="artemgram">Artemgram</p>
        </li>
        <li>
            <a href="http://www.ei.hneu.edu.ua/" target="_blank">
                <img alt="" src="../../assets/lab3/img/ad/logo2.png">
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/nikita-datsenko-344b60b6" target="_blank">
                <img alt="" src="../../assets/lab3/img/ad/linkedin-logo-3.png">
            </a>
        </li>
        <li>
            <img alt="" src="../../assets/lab3/img/ad/reklama.png">
        </li>
    </ul>
</div>
<div class="copyright">
    <p><a href="">© Nikita Datsenko</a></p>
    <p><a href="#top">Наверх</a></p>
</div>
</body>
</html>
