<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../assets/lab3/css/reset.css">
    <link rel="stylesheet" href="../../assets/lab3/css/configurator.css">
    <title>Brabus UKR</title>
</head>
<body>
<p><a href="#" name="top"></a></p>
<div class="header">
    <div class="logo">
        <a href="../../index.html"><img alt="Brabus logo" src="../../assets/lab3/img/brabus.png"></a>
    </div>
    <div class="title">
        <h1>Выбор и продажа автомобилей в Украине</h1>
    </div>
    <div class="counters">
        <div>
            <!--LiveInternet counter--><script type="text/javascript">
            document.write("<a href='//www.liveinternet.ru/click' "+
                    "target=_blank><img src='//counter.yadro.ru/hit?t11.6;r"+
                    escape(document.referrer)+((typeof(screen)=="undefined")?"":
                    ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
                            screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
                    ";"+Math.random()+
                    "' alt='' title='LiveInternet: показано число просмотров за 24"+
                    " часа, посетителей за 24 часа и за сегодня' "+
                    "border='0' width='88' height='31'><\/a>") </script><!--/LiveInternet-->
        </div>
        <div>
            <!-- HotLog -->
            <span id="hotlog_counter"></span>
            <span id="hotlog_dyn"></span>
            <script type="text/javascript"> var hot_s = document.createElement('script');
            hot_s.type = 'text/javascript'; hot_s.async = true;
            hot_s.src = 'http://js.hotlog.ru/dcounter/2537974.js';
            hot_d = document.getElementById('hotlog_dyn');
            hot_d.appendChild(hot_s);
            </script>
            <noscript>
                <a href="http://click.hotlog.ru/?2537974" target="_blank">
                    <img src="http://hit19.hotlog.ru/cgi-bin/hotlog/count?s=2537974&im=357" border="0"
                         title="HotLog" alt="HotLog"></a>
            </noscript>
            <!-- /HotLog -->
        </div>
    </div>
</div>
<div class="menu">
    <div class="menu-button">
        <a href="../../views/lab3/about.html">О компании Brabus</a>
    </div><div class="selected-menu">
    <a href="">Конфигуратор автомобилей</a>
</div><div class="menu-button"><a href="../../views/lab3/reviews.html">Автообзоры</a>
</div><div class="menu-button"><a href="">Резюме администратора</a>
</div>
</div>
<div class="main-block">
    <div class="img">
        <img alt="" src="../../assets/lab3/img/maxresdefault.jpg">
    </div>
    <div class="text">
        <p>
            Brabus-Maybach S-Class<br>
            Колличество цилиндров: 12<br>
            Обьем двигателя см(куб): 6233<br>
            Мощность, л/с: 900<br>
            Расход топлива л/100км: 12
        </p>
    </div>
</div>
<div class="main-block">
    <div class="img">
        <img alt="" src="../../assets/lab3/img/a_41308.jpg">
    </div>
    <div class="text">
        <p>
            Brabus 800 G65<br>
            Колличество цилиндров: 12<br>
            Обьем двигателя см(куб): 5912<br>
            Мощность, л/с: 850<br>
            Расход топлива л/100км: 14
        </p>
    </div>
</div>
<div class="main-block">
    <div class="img">
        <img alt="" src="../../assets/lab3/img/2013-brabus-850-shooting-brake.jpg">
    </div>
    <div class="text">
        <p>
            Brabus 850 Shooting-Brake<br>
            Колличество цилиндров: 8<br>
            Обьем двигателя см(куб): 5912<br>
            Мощность, л/с: 850<br>
            Расход топлива л/100км: 11
        </p>
    </div>
</div>
<div class="main-block">
    <div class="img">
        <img alt="" src="../../assets/lab3/img/foto-brabus-850_05.jpg">
    </div>
    <div class="text">
        <p>
            Brabus E63<br>
            Колличество цилиндров: 8<br>
            Обьем двигателя см(куб): 5912<br>
            Мощность, л/с: 850<br>
            Расход топлива л/100км: 11
        </p>
    </div>
</div>
<div class="main-block">
    <div class="img">
        <img alt="" src="../../assets/lab3/img/1brabusfebruary2016.jpg">
    </div>
    <div class="text">
        <p>
            Brabus 650<br>
            Колличество цилиндров: 8<br>
            Обьем двигателя см(куб): 3908<br>
            Мощность, л/с: 478<br>
            Расход топлива л/100км: 8.5
        </p>
    </div>
</div>
<div class="ad">
    <p class="ad-title">На правах рекламы:</p>
    <ul>
        <li>
            <a href="https://www.youtube.com/channel/UC0lT9K8Wfuc1KPqm6YjRf1A" target="_blank">
                <img alt="" src="../../assets/lab3/img/ad/iytf7gRVLdk.jpg">
            </a>
        </li>
        <li id="ad-cell2">
            <img alt="" src="../../assets/lab3/img/ad/instagram-xxl.png">
            <p class="artemgram">Artemgram</p>
        </li>
        <li>
            <a href="http://www.ei.hneu.edu.ua/" target="_blank">
                <img alt="" src="../../assets/lab3/img/ad/logo2.png">
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/nikita-datsenko-344b60b6" target="_blank">
                <img alt="" src="../../assets/lab3/img/ad/linkedin-logo-3.png">
            </a>
        </li>
        <li>
            <img alt="" src="../../assets/lab3/img/ad/reklama.png">
        </li>
    </ul>
</div>
<div class="copyright">
    <p><a href="">© Nikita Datsenko</a></p>
    <p><a href="#top">Наверх</a></p>
</div>
</body>
</html>
