/*body {
    background-color: black;
    color: white;
}*/

.header > div {
    float: left;
    box-sizing: border-box;
    height: 192px;

    /*убрать*/
    background-color: black;
}

.logo {
    width: 25%;
    padding: 8px 0 4px 0;
}

.title {
    width: 67.7%;
    margin-left: 0.7%;
    padding-top: 4.3%; /*узнать как сделать просто посередине*/
    text-align: left;
    color: white;
    font: small-caps bold 40px/1.5 Arial, sans-serif;
}

.counters {
    min-width: 100px;
    width: 6%;
}

.counters div {
    margin: 5px 0 0 5px;
}

.menu div {
    float: left;
    width: 25%;
    height: 40px;
    text-align: center;
    padding-top: 0.25%; /*узнать как сделать просто посередине*/
    margin: 0.4% 0 0.3% 0;
    border-top: 1px solid white;

    /*убрать*/
    background-color: black;
}

.menu div:hover {
    position: relative;
    top: -10px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.menu a:link, .menu a:visited { /*узнать как заполнить кнопкой весть див*/
    text-decoration: none;
    color: white;
    font: small-caps 20px/1.5 Arial, sans-serif;
}

.main-content > div {
    margin-top: 3px;
    float: left;
    width: 33.13%;
    height: 336px;

    /*background-color: #cccccc;*/
}

.img-block-middle {
    margin-left: 0.3%;
    margin-right: 0.3%;
}

.ad-title {
    background-color: aqua;
}

.ad li {
    float: left;
    width: 20%;
    height: 238px;
    padding-left: 4%;
    border-left: 1px solid black;
    padding-top: 18px;

    background-color: #cccccc;
}

.ad-cell2 img{
    padding-bottom: 500px;
}

.ad img {
    padding: 8px 0 4px 0;
    height: 180px;
}

.ad-cell2 img {
    padding-left: 6%;
    height: 160px;
    padding-top: auto;
}

.artemgram {
    font: bold 37px/1.5 Times New Roman, sans-serif;
}









