body {
    color: white;
    background-color: black;
}

.header:before, .header:after {
    content:"";
    display: table;
    box-sizing: border-box;
}
.header:after {
    clear: both;
}
.header {
    clear: both;
    *zoom: 1;
}

.logo {
    float: left;
    width: 25%;
    padding: 8px 0 4px 0;
}

.title {
    float: left;
    width: 67.7%;
    margin-left: 0.7%;
    padding-top: 4.8%; /*узнать как сделать просто посередине*/
    text-align: left;
    color: white;
    font: small-caps bold 40px/1.5 Arial, sans-serif;
}

.counters {
    float: right;
    min-width: 100px;
    width: 5%;
}

.counters div {
    margin: 5px 0 0 5px;
}

.menu div {
    width: 25%;
    height: 40px;
    text-align: center;
    padding-top: 0.25%; /*узнать как сделать просто посередине*/
    margin: 0.3% 0 0.3% 0;
    border-top: 1px solid white;
    display: inline-block;
    box-sizing: border-box;
}

.menu div:hover {
    position: relative;
    top: -10px;
    border: 1px solid white;
}

.menu a:link, .menu a:visited { /*узнать как заполнить кнопкой весть див*/
    text-decoration: none;
    color: white;
    font: small-caps 20px/1.5 Arial, sans-serif;
}

.main-content > div {
    display: inline-block;
    width: 33.1%;
}

.img-block-middle {
    margin: 0 1px 1px 0;
}

.ad:before, .ad:after {
    content:"";
    display: table;
    box-sizing: border-box;
}

.ad:after {
    clear: both;
}

.ad {
    clear: both;
    *zoom: 1;
    margin-top: 10px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.ad-title {
    text-align: left;
    font: 14px/1.5 Arial, sans-serif;
    padding-top: 5px;
    margin-bottom: 5px;
}

.ad li {
    float: left;
    width: 20%;
    text-align: center;
}

.ad  li  img {
    height: 200px;
}

#ad-cell2 img {
    height: 160px;
}

.artemgram {
    font: bold 32px/1.5 Times New Roman, sans-serif;
}
