<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О компании</title>
</head>
<body>
    <p><a name="top"></a></p>
    <h1>Brabus<abbr title="Gesellschaft mit beschränkter Haftung (общество с ограниченной ответственностью)">GmbH</abbr></h1>
    <p>
        <img src="img/9tro_110713_060903_werk-3-luft.jpg" alt="Главный офис">
    </p>
    <p>
        Brabus — компания, расположенная в Германии, специализирующееся<br>
        в основном на моторном и кузовном тюнинге, в первую очередь автомобилей<br>
        марки Mercedes-Benz, а также других, выпускаемых концерном Daimler,<br>
        автомобилей марки Smart и Maybach. Ателье фокусирует внимание на том,<br>
        чтобы автомобиль достигал максимальных рабочих характеристик путём увеличения <br>
        мощности и крутящего момента.
    </p>
    <p>
        <img src="img/brabus-11-728x485.jpg">
    </p>
    <p>
        Ателье ориентировано на дорогой и эксклюзивный тюнинг. Среди простых <br>
        программ тюнинга предлагается установка низкопрофильных покрышек, спойлеров,<br>
        аэродинамических обвесов, кованых дисков собственного дизайна. Более сложные<br>
        модернизации включают модификации технической начинки автомобилей, в частности,<br>
        при переработке двигателя растачивается блок двигателя, дорабатывается головка <br>
        блока, дорабатываются или ставятся новые поршни, коленвал, клапаны и другие <br>
        детали, все двигатели собираются вручную и в конце ставится фирменная табличка с <br>
        личной подписью моториста. Также осуществляется доработка интерьера автомобиля на <br>
        заказ, установка аксессуаров.
    </p>
    <p>
        <img src="img/mercedes-amg-c63-s-2015--2-.jpg">
    </p>
    <p>
        <strong>История</strong>
    </p>
    <p>
        Как частное тюнинг-ателье основано в 1977 году Клаусом Бракманом и Бодо Бушманом<br>
        в Ботропе, название происходит от сложения начальных букв фамилий её создателей.<br>
        Является крупнейшим в мире независимым тюнинговым ателье. В 1999 году стало<br>
        подразделением DaimlerChrysler.
    </p>
    <p>
        <img src="img/007-BRABUS-Performance-Centre1-630x373.jpg">
    </p>
    <p><a href="#top">Наверх</a></p>
    <p><a href="../index.html">На главную</a> </p>
</body>
</html>