<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Резюме</title>
</head>
<body>
    <p><a name="top"></a></p>
    <p><a href="../index.html">На главную</a></p>
    <h2>Даценко Никита Александрович</h2>
    <img src="img/myphoto.jpg">
    <p>Возраст: 19</p>
    <p>Пол: мужской</p>
    <p>Семейное положение: не женат</p>
    <table>
        <caption>Контакты:</caption>
        <tr>
            <td>Телефон:</td>
            <td><a href="tel:+380978363899">+38 (097) 836-38-99</a></td>
        </tr>
        <tr>
            <td>E-Mail:</td>
            <td><a href="mailto:nikdatsenko@gmail.com?subject=Работа">nikdatsenko@gmail.com</a></td>
        </tr>
        <tr>
            <td>Skype:</td>
            <td><a href="skype:krich_nik?call">krich_nik</a></td>
        </tr>
        <tr>
            <td>Telegram:</td>
            <td><a href="https://telegram.me/Krich_nik">Связаться</a></td>
        </tr>
        <tr>
            <td>Соц. сеть:</td>
            <td><a href="https://vk.com/nikita_datsenko" target="_blank">ВКонтаке</a></td>
        </tr>
    </table>
    <p></p>
    <table>
        <caption>Профессиональные навыки:</caption>
        <tr>
            <td rowspan="2">Операционные системы:</td>
            <td>Windows</td>
        </tr>
        <tr>
            <td>Linux</td>
        </tr>
        <tr>
            <td rowspan="4">IDE:</td>
            <td>IntelliJ IDEA</td>
        </tr>
        <tr>
            <td>Eclipse</td>
        </tr>
        <tr>
            <td>NetBeans</td>
        </tr>
        <tr>
            <td>Visual Studio</td>
        </tr>
        <tr>
            <td>Языки программирования:</td>
            <td>Java, C#, C++, SQL</td>
        </tr>
        <tr>
            <td>VCS:</td>
            <td><a href="https://github.com/KrichNik" target="_blank">GitHub</a></td>
        </tr>
    </table>
    <p>Образование:</p>
    <ul>
        <li>Школа №138 (2003 - 2014)</li>
        <li>ХНЭУ им. С. Кузнеца, Компьютерные науки (2014 - 2018)</li>
        <li>JavaRush 22 уровень (январь 2016 - июнь 2016)</li>
        <li>Ukrainian IT-School Java-курс (июнь 2016 - сентябрь 2016)</li>
    </ul>
    <p>Знание языков:</p>
    <ul>
        <li>Английский</li>
        <li>Русский</li>
        <li>Украинский</li>
    </ul>
    <p>Хобби:</p>
    <ul>
        <li>BMX</li>
        <li>Вождение</li>
        <li>Чтение</li>
        <li>Настольный теннис</li>
        <li>Баскетбол</li>
    </ul>
    <p><a href="#top">Наверх</a></p>
    <p><a href="../index.html">На главную</a></p>
</body>
</html>