/*Рамки в таблице*/
/*table, tr, td {
    border: 1px solid white;
}*/

body {
    background: black;
}

/*Заголовок*/
.header {
    width: 100%;
}

/* Главный логотип сайта*/
.logo {
    padding: 10px;
    width: 25%;
}

/*Название в заголовке*/
.head {
    color: white;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    font: small-caps bold 40px/1.5 Arial, sans-serif;
}

/*Ячейка таблицы для счетчиков*/
td.counter {
    width: 110px;
}

/*Счетчики*/
div.counter {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/*Меню*/
.menu {
    height: 40px;
    width: 100%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 10px;
}

/*Ячейки для ссылок меню*/
.menu td {
    text-align: center;
    vertical-align: middle;
}

/*Ссылки в меню*/
.menu a:link, .menu a:visited {
    text-decoration: none;
    color: white;
    font: small-caps 20px/1.5 Arial, sans-serif;
}

/*Ячейка для основного содержимого*/
.main {
    width: 100%;
    margin-top: 10px;
}

/*Основное содержимое*/
.content {
    width: 70%;
    color: white;
    font: small-caps 15px/1.5 Arial, sans-serif;
    text-align: center;
}

.content h1 {
    font: small-caps 25px/1.5 Arial, sans-serif;
}

/*Ячейка для вертикального подменю*/
.submenu {
    width: 30%;
    padding-top: 30px;
    padding-left: 40px;
}

/*Таблица в вертикальном подменю*/
.submenu table {
    width: 90%;
}

/*Ячейки таблицы в подменю*/
.submenu td {
    text-align: center;
    vertical-align: middle;
}

/*Содержимое ячеек*/
.submenu p {
    background: gray;
    margin: 10px;
    padding: 5px;
}

/*Ссылки в подменю*/
.submenu a:link, .submenu a:visited {
    text-decoration: none;
    color: white;
    font: small-caps 20px/1.5 Arial, sans-serif;
}

/*Таблица для рекламы*/
#ad {
    margin-top: 20px;
    color: white;
}

/*На правах рекламы*/
#ad caption {
    text-align: left;
    font: 14px/1.5 Arial, sans-serif;
    border-top: 1px solid white;
    padding-top: 5px;
    margin-top: 3px;
}

/*Ячейки с рекламой*/
.adCell td {
    width: 20%;
    font: bold 40px/1.5 Times New Roman, sans-serif;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid white;
}

/*Рекламные изображения*/
.ad img {
    height: 150px;
}

.copyright p {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.copyright a:link, .copyright a:visited {
    text-decoration: none;
    color: white;
    font: small-caps 15px/1.5 Arial, sans-serif;
}




